body {
    background-color: #ddd5d0; /* Use a color name, hex code, or RGB value */
  }
  

.nav_bar {
    display: flex;
    background-color: #786f80;
    border-style: solid;
    border-width: 5px;
    border-color: #786f80;
    flex-direction: row;
   
}

.flex-item {
    fill: #786f80;
    align-items: end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex-container {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: red;
    flex-direction: row;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex-container img {
  width: 40%; 
  height: auto; 
  border-style: solid;
  border-width: 5px;
  border-color: #32323f;
  

}

.flex-container2 {
    display: flex;
    border-style: solid;
    border-width: 5px;
    margin: 30px;
    border-color: rgb(0, 255, 51);
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.featured-flex-container {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 255, 51);
    flex-direction: row;
    justify-content: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.desc{
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
