html {
    background-color: #ddd5d0; /* Use a color name, hex code, or RGB value */
  }

h3{
    text-indent: 40px;
    justify-content: center;
}

p {
    text-indent: 40px;
}
  

.nav_bar {
    display: flex;
    background-color: #786f80;
    border-style: solid;
    border-width: 5px;
    border-color: #786f80;
    flex-direction: row;
   
}

.flex-item {
    fill: #786f80;
    align-items: end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: row;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

.flex-container img {
  width: 40%; 
  height: auto; 
  border-style: solid;
  border-width: 5px;
  border-color: #32323f;
  

}

.flex-container2 {
    display: flex;
    background-color: #BCABA8  ;
    margin: 30px;
    border-width: 2px;
    border-color: rgb(0, 255, 51);
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content:first baseline;
    align-content: center;
    padding: 10px;


}
.flex-container2 img {
    width: 90%; 
    justify-content: center;
    height: auto; 
    border-style: solid;
    border-width: 5px;
    border-color: #32323f;
    
  
  }


.featured-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.desc{
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
